@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "HelveticaNowDisplay";
    src: url("./fonts/HelveticaNowDisplay-Regular.woff");
    font-weight: 400;
    font-style: normal;
  }

  *, *:after, *:before {
    box-sizing: border-box;
}

body {
  font-family: "Montserrat", "HelveticaNowDisplay", sans-serif;
  margin: 0;
  font-style: 14px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
}

.box {
    width: 15%;
    background-color: #FF003D;
    padding: 24px 17px;
    position: relative;
}

.box:nth-child(n+1) {
    margin-right: 10%;
    margin-bottom: 10%;
}

.box:nth-child(4n+4) {
    margin-right: 0;
}

.box-svg-1, .box-svg-2, .box-svg-3, .box-svg-4,
.box-svg-5, .box-svg-6, .box-svg-7, .box-svg-8,
.box-svg-9 {
    position: absolute;
    left: -17%;
}

.box-svg-1 {
    top: -5%; 
}

.box-svg-2 {
    top: 14%;
}

.box-svg-3 {
    top: 28%; 
}

.box-svg-4,
.box-svg-5 {
    top: 38%; 
}

.box-svg-6 {
    top: 55%; 
}

.box-svg-7 {
    top: 68%; 
}

.box-svg-8 {
    top: 80%; 
}

.box-svg-9 {
    top: 101%; 
}     

.text {
    color: #F0F0F0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Montserrat";
}

.text-bottom {
    margin-bottom: 70px;
}

.btn-red {
    display: block;
    width: 83%;
    background: #C20000;
    border-radius: 5px;
    height: 23px;
    position: relative;
    margin: 0 auto;
}

.indicator {
    display: block;
    margin: -24px auto;
    text-align: center;
    margin-bottom: 18px;

}

.btn-black {
    width: 30px;
    height: 97px;
    background: #000000;
    border: 3px solid #C20000;
    border-radius: 98px;
    display: block;
    margin: 0 auto;  
}

.text-3 {
    margin-bottom: 20px;
}

.btn-black:nth-child(1n+3) {
    width: 34px;    
}

.btn-black-bottom-3 {
    margin-top: -35px;
    margin-bottom: 60px;
}

.btn-black-bottom {
    margin-bottom: 60px;
}

.btn-red-bottom {
    margin-bottom: -85px;
    margin-top: 70px;
}

.box-gradient {
    background: linear-gradient(180deg, #FF003D 57.92%, rgba(255, 255, 255, 0) 100%), #00B2FF;
}

.bottom-bcg {
    position: relative;
    left: -18%;
    bottom: -14%;
}

.lists {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
}

.list {
    background-color: #000000;
    color: #F0F0F0;
    list-style-type: none;
    font-size: 8px;
    line-height: 12px;
    font-family: "HelveticaNowDisplay";
    width: 100%;
}

.list:nth-child(1n+1) {
    margin-bottom: 2px;
}

.text-bottom-list {
    margin-bottom: 10px;
}